<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
            android:allowBackup="true"
            android:label="Music Backend"
            android:supportsRtl="true"
            android:largeHeap="true">
        <activity
                android:name="dev.younesgouyd.apps.music.server.android.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
                android:name="dev.younesgouyd.apps.music.server.android.MusicBackendService"
                android:exported="false"
                android:foregroundServiceType="specialUse"
        />
    </application>
</manifest>